# Environment variables
.env
.env.upsc
.env.gre
.env.test
*.bak
!.env.example

# Logs
logs/
*.log

# Database and Charts
*.db
charts/

# Python
__pycache__/
*.pyc
*.pyo
venv/
.Python

# IDE
.vscode/
.idea/
